header {
  font-family: "Open Sans";
  background-color: #004175;
  color: white;
  padding: 2%;
  border-bottom: solid #89deef 3px;
  text-indent: 20px;
  margin-top: -20px;
}

body {
  font-family: "open sans";
  font-size: 13px;
  display: flex;
  align-items: flex-start;
  background-color: #f2f2f2;
  opacity: 2;
  margin-left: 10%;
  margin-right: 10%;
}

#intro {
  text-indent: 4%;
}

.dogprofile {
  font-family: "Oswald";
  display: flex 320px;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: 1%;
  width: auto;
}

#main {
  width: 100%;
  background-color: white;
}

img {
  width: 100%;
  margin-top: -30px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-left: -42px;
  margin-top: -20px;
  flex-wrap: wrap;
}

ol {
  font-size: 11.5px;
  font-family: "Open Sans";
  background-color: #89deef;
  border-color: #89deef;
  border-radius: 10px;
  padding: 0.2rem;
  display: inline-flex;
  margin: 2px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 90%;
  margin-left: 3%;
  margin-right: 20%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  background: linear-gradient(rgba(109, 65, 185, 0.5), rgba(109, 65, 185, 0.5)),
    url("starter_files/images/donate.jpg"),
    url(starter_files/images/volunteer.jpg),
    url(starter_files/images/location.png);

  background: linear-gradient(rgba(109, 65, 185, 0.5), rgba(109, 65, 185, 0.5)),
    url(starter_files/images/volunteer.jpg);
}

li {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Oswald";
  font-size: 150%;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.footerimg {
  /* background: linear-gradient(rgba(105, 4, 156, 0.5), rgba(105, 4, 106, 0.8)), */
  /* url("starter_files/images/donate.jpg"); */
  /* url(starter_files/images/volunteer.jpg); */
  /* url(starter_files/images/location.png); */
}
